[Interface]
Address = 10.8.0.2/24
PrivateKey = <CLAU_PRIVADA_CLIENT>
DNS = 1.1.1.1
PostUp = ip route add <IP_PUBLICA_EC2>/32 via <PORTA_ENLLAÇ_LOCAL>
PostUp = iptables -A OUTPUT -d <IP_PUBLICA_EC2> -p tcp --dport 22 -j ACCEPT
PostUp = iptables -A OUTPUT -d <IP_PUBLICA_EC2> -o wg0 -j DROP
PreDown = ip route del <IP_PUBLICA_EC2>/32
PreDown = iptables -D OUTPUT -d <IP_PUBLICA_EC2> -p tcp --dport 22 -j ACCEPT
PreDown = iptables -D OUTPUT -d <IP_PUBLICA_EC2> -o wg0 -j DROP

[Peer]
PublicKey = <CLAU_PUBLICA_SERVIDOR>
Endpoint = <IP_PUBLICA_EC2>:51820
AllowedIPs = 0.0.0.0/1, 128.0.0.0/1
PersistentKeepalive = 25
