[Interface]
Address = 10.8.0.2/24
PrivateKey = <CLAU_PRIVADA_CLIENT>
DNS = 1.1.1.1
PostUp = /usr/local/bin/vpn-route.sh up
PreDown = /usr/local/bin/vpn-route.sh down

[Peer]
PublicKey = <CLAU_PUBLICA_SERVIDOR>
Endpoint = <IP_PUBLICA_EC2>:51820
AllowedIPs = 0.0.0.0/1, 128.0.0.0/1
PersistentKeepalive = 25
