[Interface]
Address = 10.8.0.1/24
ListenPort = 51820
PrivateKey = <CLAU_PRIVADA_SERVIDOR>

PostUp = iptables -A FORWARD -i wg0 -j ACCEPT; iptables -A FORWARD -o wg0 -j ACCEPT; iptables -t nat -A POSTROUTING -o ens5 -j MASQUERADE
PostDown = iptables -D FORWARD -i wg0 -j ACCEPT; iptables -D FORWARD -o wg0 -j ACCEPT; iptables -t nat -D POSTROUTING -o ens5 -j MASQUERADE

[Peer]
PublicKey = <CLAU_PUBLICA_CLIENT>
AllowedIPs = 10.8.0.2/32
